<div class="row">
  <div class="span16">
    <%= turkee_form_for(@transcription, params) do |f| %>
        <fieldset>
          <% if @transcription.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@transcription.errors.count, "error") %> prohibited this transcription from being
                  saved:</h2>

                <ul>
                  <% @transcription.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="clearfix">
            <%= f.label :video_segment_id %>
            <div class="input">
              <%= f.number_field :video_segment_id, :class => 'xlarge' %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :category_id %>
            <div class="input">
              <%= f.number_field :category_id %>
            </div>

          </div>
          <div class="clearfix">
            <%= f.label :transcription %>
            <div class="input">
              <%= f.text_area :transcription %>
            </div>

          </div>
          <div class="clearfix">
            <%= f.label :gold_num1 %>
            <div class="input">
              <%= f.number_field :gold_num1 %>
            </div>

          </div>
          <div class="clearfix">
            <%= f.label :gold_num2 %>
            <div class="input">
              <%= f.number_field :gold_num2 %>
            </div>

          </div>
          <div class="clearfix">
            <%= f.label :gold_sum %>
            <div class="input">
              <%= f.number_field :gold_sum %>
            </div>

          </div>
          <div class="actions">
            <%= f.submit(nil,:class => 'btn primary') %>
          </div>
        </fieldset>
    <% end %>

  </div>
</div>